.main{
    background-color: transparent;
    width:min-content;
    height: min-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.message{
    grid-column: 1/ span 3;
    margin: 1em auto 1em auto;
    font: 3em sans-serif;
    color: wheat;
}

.tileSize{
    width: 10em;
    height: 10em;
}

.redTile{
    background-color: red;
}

.blueTile{
    background-color: blue;
}

.yellowTile{
    background-color: yellow;
}

.greenTile{
    background-color: green;
}

.clearTile{
    background-color: transparent;
}
body{
    background-color: #282828;
}