.app{
    background-color: transparent;
    width:min-content;
    height: min-content;
    margin: auto;
    display: grid;
    gap: 10px;
}

.message{
    margin: 1em auto 1em auto;
    font: 3em sans-serif;
    color: wheat;
}

.level{
    margin: 1em auto 1em auto;
    font: 2em sans-serif;
    color: wheat;
}

.tileSize{
    width: 7em;
    height: 7em;
}

.redTile{
    background-color: red;
}

.blueTile{
    background-color: blue;
}

.yellowTile{
    background-color: yellow;
}

.greenTile{
    background-color: green;
}

.clearTile{
    background-color: transparent;
}

.orangeTile{
    background-color: orange;
}

.plumTile{
    background-color: plum;
}