.app{
    background-color: transparent;
    width:min-content;
    height: min-content;
    margin: auto;
    display: grid;
    gap: 1vmin;
}

.message{
    margin: 2em auto 2em auto;
    font: 3em sans-serif;
    color: wheat;
}

.level{
    margin: 2em auto 2em auto;
    font: 2em sans-serif;
    color: wheat;
}

.redTile{
    background-color: red;
}

.blueTile{
    background-color: blue;
}

.yellowTile{
    background-color: yellow;
}

.greenTile{
    background-color: green;
}

.clearTile{
    background-color: transparent;
}

.orangeTile{
    background-color: orange;
}

.plumTile{
    background-color: plum;
}

button {
    background-color: lightslategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto 1em auto 1em;
  }

  .hide {
    display:none;
  }