.app{
    background-color: transparent;
    width:min-content;
    height: min-content;
    margin: auto;
    display: grid;
    gap: 1vmin;
}

.message{
    margin: 2em auto 2em auto;
    font: 3em sans-serif;
    color: wheat;
}

.level{
    margin: 2em auto 2em auto;
    font: 2em sans-serif;
    color: wheat;
}

.redTile{
    background-color: red;
}

.blueTile{
    background-color: blue;
}

.yellowTile{
    background-color: yellow;
}

.greenTile{
    background-color: green;
}

.clearTile{
    background-color: transparent;
}

.orangeTile{
    background-color: orange;
}

.plumTile{
    background-color: plum;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: red;
}

a{
    margin: 1em 1em 1em 1em;
}